@model IEnumerable<eBroker.AppointmentDetail>
@using GridMvc.Html
@using eBroker
@{
    ViewBag.Title = "Appointment Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Appointment AppointmentInfo = ViewBag.AppointmentInfo;
}

<div class="container">
    <div class="panel panel-green">
        <div class="panel-heading">Appointment Events ** Count: @Model.Count()</div>
        <div class="panel-body">
            <div class="row">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            @if(AppointmentInfo.Status!="Closed")
                            {
                            <span><i class="fa fa-handshake-o"></i>@Html.ActionLink(" New Event", "EventInfo", new {AppId = AppointmentInfo.Id })</span>
                            }
                                </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-2">
                                @Html.Label("Appointment Date")
                            </label>
                            <div class="col-sm-2">
                                @Html.TextBox("txtAppointmentDate", AppointmentInfo.AppointmentDate, "{0:yyyy-MM-dd}", new { @disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-2">
                                @Html.Label("Time")
                            </label>
                            <div class="col-sm-1">
                                @Html.TextBox("txtTime", AppointmentInfo.AppointmentTime, new { @disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-2">
                                @Html.Label("Type")
                            </label>
                            <div class="col-sm-2">
                                @Html.TextBox("txtType", AppointmentInfo.appointmentType_.AppointmentTypeName, new { @disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-2">
                                @Html.Label("Venue")
                            </label>
                            <div class="col-sm-4">
                                @Html.TextBox("txtVenue", AppointmentInfo.AppointmentVenue, new { @disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-2">
                                @Html.Label("Client Name")
                            </label>
                            <div class="col-sm-3">
                                @Html.TextBox("txtClient", AppointmentInfo.ClientName, new { @disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table table-bordered">
                            @Html.Grid(Model).Named("ga").Columns(col =>
                           {
                               col.Add(m => m.Id, true);
                               col.Add().Sanitized(false).Encoded(false).RenderValueAs(xc => Html.Bootstrap().ActionLink("Edit", "EventInfo").RouteValues(new {AppId = AppointmentInfo.Id, Id = xc.Id }).PrependIcon("fa fa-pencil-square-o"));
                               col.Add(m => m.AppointmentEventTypes.AppointmentEventTypeName).Titled("Type");
                               col.Add(m => m.Comments).Titled("Comments");
                               col.Add(m => m.EventDate).Titled("Event Date").Format("{0:yyyy-MM-dd}");
                               col.Add(m => m.AssignedTo).Titled("Assigned To");
                               //col.Add(m => m.DoneBy).Titled("Done By");
                               col.Add(m => m.AppointmentStatus).Titled("Status");
                           }).WithPaging(10).Sortable(true)

                        </div>
                    </div>
                </div>
            </div>

        </div>
                                        <div class="panel-footer">
                    <span><i class="fa fa-backward"></i>@Html.ActionLink("Back to Appointment List", "ListAppointment")</span>
                </div>

    </div>

</div>
